# IDE
.idea/
*.iml
.mvn/
.vscode/

# Maven
target/

# Allure
allure-results/
allure-report/
.allure/

# Логи
*.log

# Системные файлы
Thumbs.db
.DS_Store

# Докер (если есть локальные настройки)
docker-compose.override.yml
.env

# Временные файлы
*.tmp
*.bak